/* body {
    margin: 2rem;
} */


body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2.0rem;
    grid-template-areas:"h h h",
                        "m m m",
                        "f f f";
    
    justify-content: center;
    width: 90%;
    margin: auto;
    /* right now just the items are on a grid.  Do I want the whole page 
    on the same grid? */    
}
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: h;
}

.items {
    grid-area: m;
    /* grid-area: 2 / 1 / span 1 / span 3; */
    /* items start on row 2 column 1 and span 1 row and 3 columns */
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* padding: 0 2rem; */
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-items: space-between;
    align-items: space-between;
    margin: 1rem;
    /* align-content: center; */
    /* padding: 0 1rem; 
    this doesn't work, I want padding between the boxes*/
    
    
}

ul {
    grid-area: f;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.items img {
    width: 100%;
    height: auto;
}

 .items p, h2 {
    padding: 0 1rem;
}
/* use comma to style both p and h2 at once */
/* .items h2 {
    
} */

/* .a {
    image
} */